# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Ignore system files
.DS_Store

# Ignore everything by default in application
software/application/*
software/application/include/*

# But include only the selected .c files
!software/application/routine_helpers_library.c
!software/application/stepper_speed_timer.c
!software/application/stepper_library.c
!software/application/screen_tester_routine.c

# And only the selected .h files
!software/application/include/routine_helpers_library.h
!software/application/include/stepper_speed_timer.h
!software/application/include/stepper_library.h
!software/application/include/screen_tester_routine.h
